body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111111;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 175vh;
}

.container1 {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 8px 24px rgba(52, 52, 52, 0.863);
  width: 300px;
  text-align: center;  
  margin: 0 auto;
 max-width: 500px;
  
}
.container2 {
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;S
}


button {
  background-color: #5caddfb9;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button2 {
  background-color: #0048ff6a;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #0056b3;
}
